/* header */
.header{
    height: var(--header-height);
    background-color: var(--primary-color);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid rgba(0,0,0,0.7);
}

.header__nav{
    display: flex;
    justify-content: space-between;
}

.logo__link{
    margin-top: 10px;
    height: 40px;
}

.header__nav-btn-list{
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.header__nav-btn-items{
    position: relative;
    margin-right: 35px;
    height: 30px;
    user-select: none;
    cursor: pointer;
}

.header__nav-btn-items:last-child{
    margin-right: 0;
}

.header__nav-btn-items-text{
    text-decoration: none;
    color: #ffff;
    font-size: 1.6rem;
    background-color: var(--red-color);
    padding: 5px 15px;
    border-radius: 40px;
    font-weight: 500;
    transition: linear .2s;
}

.header__nav-btn-items:hover .anime__type{
    display: block;
}

.header__nav-btn-items:nth-child(2)::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
    width: 90px;
    height: 20px;
    /* background-color: red; */
}

.header__nav-btn-items:first-child::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
    width: 90px;
    height: 20px;
    /* background-color: red; */
}

.header__nav-btn-items-text:hover{
    padding: 10px 15px;
}

.header__nav-search{
    margin-top: 15px;
    width: 250px;
    position: relative;
}

.header__nav-search-input{
    border: 1px solid var(--red-color);
    border-radius: 10px;
    background: none;
    width: 90%;
    height: 80%;
    outline: none;
    color: #fff;
    padding-left: 30px;
    position: relative;
}

.header__nav-search-input::placeholder{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__nav-search-input[type=text]:focus{
    border-color: var(--red-color-light);
}

.header__nav-search-input:focus ~ .search__result{
    display: block;
}

.search-icon{
    color: #ffff;
    font-size: 1.2rem;
    margin-left: 0;
    position: absolute;
    top: 25%;
    left: 5%;
}

.header__nav-control{
    display: flex;
    align-items: center;
}

.header__nav-control-bell{
    font-size: 1.8rem;
    margin-top: 7px;
    margin-right: 35px;
    position: relative;
    background-color: var(--red-color);
    padding: 5px 10px;
    border-radius: 100%;
    cursor: pointer;
}

.header__nav-control-bell::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 35px;
    width: 150px;
    height: 20px;
    /* background-color: red; */
}

.header__nav-control-bell:hover .notify{
    display: block;
}

.header__nav-control-bell .header__nav-control-icon{
    color: #fdcb6e;
}

.header__nav-control-bell-notify{
    position: absolute;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    background-color: var(--red-color);
    width: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    top: 0;
}

.header__nav-control-user{
    position: relative;
    font-size: 2.7rem;
    color: #fff;
    top: 5px;
    cursor: pointer;
}

.search__result{
    position: absolute;
    background-color: white;
    top: 100%;
    left: -30%;
    width: 150%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 2px;
    display: none;
    animation: fadeIn linear .2s;
    z-index: 999;
}

.search__result-heading--noinput{
    font-size: 1.6rem;
    user-select: none;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
}

.search__result-heading{
    font-size: 1.6rem;
    user-select: none;
    font-weight: 400;
    text-align: center;
    padding: 5px 0;
}

.search__result-list{
    padding-left: 0;
    list-style: none;
    max-height: 55vh;
    overflow-y: auto;
}

.search__result-item{
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 5px 0;
    transition: linear .2s;
}

.search__result-item:hover{
    background-color: rgba(0,0,0,0.7);
}

.search__result-item:hover .search__result-item-link{
    color: var(--red-color);
}

.search__result-item:hover .search__result-thumbnail{
    transform: scale(1.05);
}

.search__result-thumbnail{
    width: 100px;
    padding-right: 5px;
    transition: all .1s;
}

.search__result-item-link{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    transition: all .2s;
}

.search__result-item-info-wrap{
    display: block;
}

.item-name{
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
}

.item-episode{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
}

.item-view{
    font-size: 1.2rem;
    font-weight: 500;
}

.notify{
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    width: 250px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 2px;
    background-color: rgb(182, 182, 182);
    display: none;
    animation: fadeIn linear .2s;
    z-index: 999;
}

.notify::before{
    content: "";
    border-width: 15px 15px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 5px;
    top: -30px;
}

.notify__list{
    list-style: none;
    padding-left: 0;
    max-height: 20vh;
    overflow-y: auto;
}

.notify__list-item{
    background-color: #fff;
    display: flex;
    margin-bottom: 1px;
    padding: 3px 0;
    transition: all .2s;
}

.notify__list-item:nth-child(3n + 1){
    border-left: 1px solid var(--primary-color);
}

.notify__list-item:nth-child(3n + 2){
    border-left: 1px solid var(--red-color-light);
}

.notify__list-item:nth-child(3n + 3){
    border-left: 1px solid #fdcb6e;
}

.notify__list-item:hover{
    background-color: #fff5f5;
}

.notify__list-item--new{
    background-color: #ffbdbd
}

.notify__list-item-content{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-left: 3px;
}

.notify-list-item-content-img{
    width: 10%;
    border-radius: 50%;
}

.anime__content-update{
    margin-left: 15px;
}

.anime__content-update-name{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.anime__content-update-time{
    display: block;
    font-size: 1.2rem;
    color: #b3bdb6;
}

/* modal */
.auth-form{
    width: 500px;
    background-color: #ffff;
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    user-select: none;
}

.auth-form__swith-btn{
    font-size: 1.4rem;
    color: var(--red-color);
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.auth-form__form{
    margin-top: 10px;
}

.auth-form__group{
    position: relative;
    margin: 5px 0;
}

.auth-form__label{
    font-size: 1.6rem;
    font-weight: 400;
    user-select: none;
}

.auth-form__icon{
    position: absolute;
    left: 2%;
    top: 55%;
    font-size: 1.2rem;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    padding: 0 25px;
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: var(--red-color-light);
}

.auth-form__controls{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials{
    margin-top: 10px;
    background-color: #f5f5f5;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #1877f2;
    color: #ffff;
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: #fff;
}

.auth-form__socials--google{
    background-color: #ffff;
    color: #666;
}

.auth-form__socials-title{
    margin: 0 20px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.auth-form__help-forgot{
    color: var(--red-color);
}

.auth-form__help-separate{
    display: block;
    height: 18px;
    margin: -2px 16px 0;
    border-left: 1px solid #6666;
}

/* slide */

.anime__container{
    background-color: #3e3e3e;
    position: relative;
    top: var(--header-height) ;
}

.anime__container-slide{
    padding: 5px;
    /* border-top: 1px solid rgb(88,88,88);
    border-right: 1px solid rgb(88,88,88);
    border-left: 1px solid rgb(88,88,88); */
    border: 1px solid rgb(88,88,88);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.anime__container-wrap{
    border: 1px solid rgb(88,88,88);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 5px;
    padding: 5px;
}

.slide{
    /* background-color: white; */
    width: 100%;
    /* border-radius: 10px; */
    overflow: hidden;
    position: relative;
}

.anime__slide-heading{
    color: var(--red-color);
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.anime__slide{
    /* background-color: blueviolet; */
    display: flex;
    width: calc(500% + 10px);
    height: 350px;
}

.anime__slide input{
    display:none;
}

.anime__slide-container{
    width: 20%;
    transition: .5s;
    display: flex;
    /* justify-content: space-between; */
}

.anime__slide-img{
    width: 820px;
    transition: linear .3s;
    cursor: pointer;
    /* filter: blur(1px); */
}

.anime__slide-img:hover{
    transform: scale(1.03);
}

.anime__slide-info{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.anime__slide-info-heading{
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    user-select: none;
    text-decoration: none;
    transition: linear .2s;
}

.anime__slide-info-heading:hover{
    color: var(--red-color);
}

.anime__slide-info-about{
    display: flex;
}

.anime__slide-info-about-item:not(:last-child){
    margin-right: 20px;
}

.anime__slide-info-about-icon{
    color: #FFC107;
    margin-right: 2px;
    font-size: 2rem;
}

.anime__slide-info-about-text{
    color: #ffff;
    font-size: 1.6rem;
    user-select: none;
}

.anime__slide-info-tags{
    display: flex;
    margin: 5px 0;
}

.anime__slide-info-tags-list{
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 1px
}

.anime__slide-info-tags-items{
    /* background-color: #FFC107; */
    margin-bottom: 15px;
}

.anime__slide-info-tags-items:not(:last-child){
    margin-right: 5px;
}

.anime__slide-info-tags-link{
    color: #ffff;
    font-size: 1.2rem;
    user-select: none;
    text-decoration: none;
    transition: linear .2s;
    font-weight: 500;
    border-radius: 50px;
    background-color: var(--red-color);
    padding: 4px;
    transition: linear .2s;
}

.anime__slide-info-tags-link:hover{
    color: var(--red-color);
    background-color: #ffff;
}

.anime__slide-info-description-heading{
    font-size: 1.8rem;
    color: #ffff;
    font-weight: 500;
    user-select: none;
    margin: -15px 0 5px 0;
}

.anime__slide-info-description{
    color: #d2d2d4;
    margin: 0;
    padding: 5px;
    max-width: 350px;
    max-height: 100px;
    overflow-y: auto;
    font-size: 1.2rem;
    border: 1px solid rgb(88,88,88);
    user-select: none;
}

.anime__slide-info-nav{
    max-width: 350px;
    display: flex;
    justify-content: space-between;
}

.anime__slide-info-btn{
    text-decoration: none;
    color: #FFC107;
    font-size: 1.6rem;
    background-color: var(--red-color);
    text-align: center;
    line-height: 4rem;
    width: 115px;
    height: 40px;
    user-select: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    transition: linear .2s;
}

.anime__slide-info-btn:hover{
    background-color: #ffff;
    color: var(--red-color);
}

.anime__slide-info-btn.anime__slide-info-btn--yellow:hover{
    background-color: #ffff;
    color: var(--red-color);
}

.anime__slide-info-btn.anime__slide-info-btn--yellow{
    background-color: #FFC107;
    color: var(--red-color);
}

.navigation-manual{
    position: absolute;
    /* width: 100%; */
    top: 95%;
    display: flex;
    right: calc(2% - -7px);
    /* background-color: brown; */
}

.manual-btn{
    border: 1px solid #ffff;
    /* background-color: #ADADAC; */
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.navigation-dot{
    position: absolute;
    /* width: 100%; */
    top: 95%;
    display: flex;
    right: calc(2% - -7px);
    /* background-color: brown; */
}

.navigation-dot div{
    border: 1px solid #ffff;
    padding: 5px;
    border-radius: 10px;
    transition: .3s;
}

.navigation-dot div:not(:last-child){
    margin-right: 15px;
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background-color: var(--red-color);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

#radio1:checked ~ .navigation-dot .dot-btn1{
    background: var(--red-color);
}

#radio2:checked ~ .navigation-dot .dot-btn2{
    background: var(--red-color);
}

#radio3:checked ~ .navigation-dot .dot-btn3{
    background: var(--red-color);
}

#radio4:checked ~ .navigation-dot .dot-btn4{
    background: var(--red-color);
}

#radio4:checked ~ .navigation-dot .dot-btn4{
    background: var(--red-color);
}

/* film */
/* .anime__body{
    position: relative;
    padding: 5px;
    border-top: 1px solid rgb(88,88,88);
    border-right: 1px solid rgb(88,88,88);
    border-left: 1px solid rgb(88,88,88);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
} */
/* .anime__body{
    position: relative;
    padding: 5px;
    border: 1px solid rgb(88,88,88);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
} */

.anime__body-heading{
    color: var(--red-color);
    font-size: 1.8rem;
    font-weight: 400;
    user-select: none;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.anime__box{
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    border: 3px double rgb(88,88,88);
}

.anime__box:hover .anime__box-overlay{
    background-color: rgba(56, 56, 56, 0.55);
    display: flex;
}

.anime__box-overlay{
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: none;
    animation: fadeIn linear .3s;
}

.anime__box-play{
    color: var(--red-color);
    font-size: 5rem;
    font-weight: 400;
    animation: fadeIn linear .6s;
}

.anime__link-wrap{
    margin-bottom: 25px;
}

.anime__box-img{
    width: 100%;
    height: 310px;
}

.anime__box-ep{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: #383838;
    font-size: 1.4rem;
    color: #fff;
    user-select: none;
    padding: 2px 8px;
    font-weight: 500;
    border: 3px double #5a5a5a;
}

.anime-box-rate{
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: rgba(56, 56, 56, 0.85);
    font-size: 1.4rem;
    color: var(--red-color);
    user-select: none;
    padding: 2px 8px;
    font-weight: 500;
    border-radius: 5px;
}

.anime-box-name{
    text-decoration: none;
    position: absolute;
    width: 100%;
    color: #FFC107;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #2b2b2b;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
}